@(questions: List[Question])

@main("Questions") {

<script>
    $(function() {

        $(".tweet_question").on("click", function() {
            var me = $(this);
            var tweet = playRoutes.controllers.QuizMaster.tweetQuestion(me.data("id"));
            tweet
                .ajax({
                    success: function(data) {
                                me.replaceWith("<a href='#' class='btn btn-small btn-success'><i class='icon-ok-circle'></i></a>");
                            },
                    error:  function(xhr, data) {
                                me.addClass("btn-danger")
                            }
                });
        });

        $(".remove_question").on("click", function() {
            var me = $(this);
            var tweet = playRoutes.controllers.QuizMaster.deleteQuestion(me.data("id"));
            tweet
                .ajax({
                    success: function(data) {
                                me.parents("tr:first").remove();
                            },
                    error:  function(xhr, data) {
                                me.addClass("btn-danger")
                            }
                });
        });

    });
</script>


<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Expected Answer</th>
        </tr>
    </thead>
    <tbody>
    @for(question <- questions) {
    <tr>
        @questionRow(question)
        <td>
            <div class="btn-group">
              <a data-id="@question.id" href="#" class="btn btn-small tweet_question"><i class="icon-share-alt"></i></a>
              <a data-id="@question.id" href="#" class="btn btn-small remove_question"><i class="icon-trash"></i></a>
            </div>
        </td>
    </tr>
    }
    @*
        questions.map{ q =>
            <tr>
            @questionRow(q)
            </tr>
        }
    *@

    </tbody>
</table>


}